<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/posts" method="post">
        <input type="text" name="title" placeholder="@titutlo"><br>
        <textarea name="content" id="" cols="30" rows="10"></textarea><br>
        <input type="text" name="image" id=""><br>
        <button>Crear Post</button>
    </form>
</body>
</html>